table{
    padding: 2em;
}

tr{
    font-size: 12px;
}

th{
    cursor: pointer;
}

td, th{
    white-space: nowrap;
    vertical-align: middle!important;
    min-width: 40px;
}

.action-btn{
    padding: 2px 7px;
    border: 0;
}