table{
    padding: 2em;
}

tr{
    font-size: 12px;
}

th{
    cursor: pointer;
}

td, th{
    white-space: nowrap;
    vertical-align: middle!important;
    min-width: 40px;
}


.fa-angle-double-left{
    cursor: pointer;
    color: blue
}

.fa-angle-double-right{
    cursor: pointer;
    color: green;
}

.action-btn{
    padding: 2px 7px;
    border: 0;
}

.created-by-th{
    min-width: 95px!important;
}

.form-control:focus {
    border-color: #166901!important;
    border-top: 0;
    border-left:0;
    border-right:0;
    border-radius: 0px;  
}

.form-control{
    border-color: #530601!important;
    border-top: 0;
    border-left:0;
    border-right:0;
    border-radius: 0px;  
}

input{
    padding:0!important;
}



.table-container{
    height: 60%;
    overflow-y: scroll;

}