
<!-- <div class="well">
  <div class="form-group">
    <label for=""></label>
    <select name="" id="" class="form-control"  >
      <option value="Manage"> Manage </option>
      <option value="Sales"> Sales </option>
      
    </select>
  </div>
</div> -->
<div class="table-responsive table-container">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th class="text-center">Actions</th>
        <th>
            <span class="pull-left">Id</span>
            <span (click)="sortBy('id')" class="fa fa-sort pull-right"></span>
        </th>
        <th>
            <span class="pull-left">Status</span>
            <span (click)="sortBy('isActive')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
            <span class="pull-left">CL</span>
            <span (click)="sortBy('cloneFrom')" class="fa fa-sort pull-right"></span>
        </th>
        <th>
            <span class="pull-left">EG</span>
            <span (click)="sortBy('evergreenId')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
            <span class="pull-left">POD</span>
            <span (click)="sortBy('schedulingPod')" class="fa fa-sort pull-right"></span>  
        </th> 
        <th>
            <span class="pull-left">Office</span>
            <span (click)="sortBy('officeId')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
           <span (click)="sortBy('title')" class="pull-left">Title</span>
            <span 
              class="fa fa-lg pull-right" [ngClass]="{
                'fa-angle-double-left':isTitleExpanded,
                'fa-angle-double-right':!isTitleExpanded
              }" 
              (click)="titleToggle()">
          </span>
        </th> 
        <th>
            <span class="pull-left">Job Board</span>
            <span (click)="sortBy('jobBoard')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
            <span class="pull-left">DIV</span>
            <span (click)="sortBy('division')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
            <span class="pull-left">City</span> 
            <span (click)="sortBy('city')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">State</span> 
          <span (click)="sortBy('state')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Country</span>
          <span (click)="sortBy('country')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Category</span>
          <span (click)="sortBy('category')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Company</span>
          <span (click)="sortBy('company')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">ApsCl</span>
          <span  (click)="sortBy('apscl')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">BOB</span>
          <span (click)="sortBy('bob')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">2nds</span>
          <span (click)="sortBy('intvs2')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Invts</span>
          <span (click)="sortBy('intvts')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Activation</span>
          <span (click)="sortBy('activationDate')" class="fa fa-sort pull-right"></span>
        </th> 
        <th>
          <span class="pull-left">Expiration</span>
          <span (click)="sortBy('expirationDate')" class="fa fa-sort pull-right"></span>
        </th> 
        <th class="created-by-th"><span class="pull-left" (click)="sortBy('createdBy')">CreatedBy</span>
            <span 
            class="fa fa-lg pull-right"  [ngClass]="{
              'fa-angle-double-left':isCreatedByExpanded ,
              'fa-angle-double-right':!isCreatedByExpanded 
            }" 
            (click)="createdByToggle()">
          </span>  
        </th>
        <th>ActiveFor</th> 
        <th>ActiveForThisWeek</th> 
        <th><span class="pull-left" (click)="sortBy('email')">Email</span>
            <span 
            class="fa fa-lg pull-right"  [ngClass]="{
              'fa-angle-double-left':isEmailExpanded ,
              'fa-angle-double-right':!isEmailExpanded 
            }" 
            (click)="emailToggle()">
          </span>  
        </th> 
        <th>OnlineURL</th>    
      </tr>
      <tr>
          <td><button class="btn btn-primary btn-sm btn-block" (click)="onFilterChange()">Search</button></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.id" (keyup.enter)="onFilterChange()" /></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.isactive" (keyup.enter)="onFilterChange()"/></td>
          <td></td>
          <td></td>
          <td><input class="form-control" type="text" text=""/></td>
          <td></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.title" (keyup.enter)="onFilterChange()" /></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.jobBoard" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.division" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.city" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.state" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.country" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.category" (keyup.enter)="onFilterChange()"/></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.company" (keyup.enter)="onFilterChange()"/></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><input class="form-control" type="text" text="" [(ngModel)]="query.createdBy" (keyup.enter)="onFilterChange()" /></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>                
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs.items">
        <td>
          <button class="btn-info btn-sm action-btn"><i class="fa fa-pencil-square-o" title="edit" ></i></button>
          <button class="btn-primary btn-sm action-btn"><i class="fa fa-clone " title="clone"></i></button>
          <button class="btn-warning btn-sm action-btn">
            <i class="fa fa-times" title="remove"></i>
          </button>
          
          <button class="btn-danger btn-sm action-btn"><i class="fa fa-trash-o" title="delete"></i></button>  
        </td>
        <td>{{ job.id }}</td>
        <td class="text-center">
          <span class="fa fa-lg" [ngClass]="{
            'fa-check text-success' : job.isActive,
            'fa-times text-danger' : !job.isActive
          }"></span>

        </td>
        <td>{{ job.cloneFrom}}</td> 
        <td></td>
        <td>{{ job.schedulingPod }}</td>
        <td>{{ job.officeId }}</td>
        <td>{{ job.title | summary: titleLength }}</td>
        <td>{{ job.jobBoard }}</td>
        <td>{{ job.division }}</td>
        <td>{{ job.city }}</td>
        <td>{{ job.state }}</td>
        <td>{{ job.country }}</td>
        <td>{{ job.category }}</td>
        <td>{{ job.companyName }}</td>
        <td>{{ job.stat?.apsCl }}</td>
        <td>{{ job.stat?.bob }}</td>
        <td>{{ job.stat?.ntvs2 }}</td>
        <td>{{ job.stat?.ntvs }}</td>
        <td>{{ job.activationDate }}</td>
        <td>{{ job.expirationDate }}</td>
        <td> {{ job.createdBy | summary: cretaedByLength }}</td>
        <td></td>
        <td></td>
        <td>{{ job.emailTo | summary: emailLength }}</td>
        <td><a href = "{{ onlineUrl + job.id}}" target="_blank" >Link</a></td>
        
        
      </tr>
      
    </tbody>
    
  </table>
</div>
<div class="text-center">
  <pagination [total-items]=jobs.totalItems [page-size]="10" (page-changed)="onPageChange($event)"></pagination>
</div>